<.header>
  <:header_badge>
    <.badge text={@page.section} />
  </:header_badge>
  <:subtitle>
    <%= if @page.date do %>
      <%= @page.date %>
    <% end %>
     in <.link navigate={~p"/particles"}>Particles</.link>
  </:subtitle>
   <%= @page.title %>
</.header>

<section class="can-content">
    <%= raw @page.body %>
</section>


<.back navigate={~p"/particles"}>Particles index</.back>