<section class={["can-content", @volubility == "terse" && "hide-voluble"]}>
    <.particle_header page={@page} volubility={@volubility} path={@path} has_terse_version={@has_terse_version} />
    <%= raw @page.body %>
</section>


<.back navigate={~p"/particles"}>Particles index</.back>