<section class={["can-content", "flex flex-col md:grid", @volubility == "terse" && "hide-voluble"]} >
    <.post_header page={@page} volubility={@volubility} path={@path} has_terse_version={@has_terse_version} />
    <.post_navigation prev_post={@prev_post} next_post={@next_post} />
    <%= raw @page.body %>
</section>


<.back navigate={~p"/posts"}>Posts index</.back>