<.post_header page={@page} volubility={@volubility} path={@path} has_terse_version={@has_terse_version} />

<section class={["can-content", @volubility == "terse" && "no-voluble"]} >
    <%= raw @page.body %>
</section>


<.back navigate={~p"/posts"}>Posts index</.back>