<.header>
  Edit Entry <%= @entry.id %>
  <:subtitle>Use this form to manage entry records in your database.</:subtitle>
</.header>

<.entry_form changeset={@changeset} action={~p"/entries/#{@entry}"} />

<.back navigate={~p"/entries"}>Back to entries</.back>
