<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · Clutterstack">
      <%= assigns[:page_title] || "Mystery Title" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="bg-white px-4 mx-auto max-w-4xl">
    <!-- Credit to Taeke Reijenga for skip-to-content info: https://www.a11y-collective.com/blog/skip-to-main-content/ -->
    <a href="#main-content" class="absolute left-0 top-0 rounded-none px-2 z-50 transform -translate-y-full focus:translate-y-0">
      Skip to main content
    </a>
    <%= @inner_content %>
  </body>
</html>
