/* CAN custom classes for annotator exports */

div.annotated-content-container {
  @apply grid grid-cols-[4fr_3fr] col-span-full rounded-lg mb-6 bg-zinc-100;
  background: linear-gradient(to right, rgba(241, 245, 249, 1) 57%, rgba(241, 245, 249, 0) 43%);
  /* background: linear-gradient(to right, rgb(240 249 255) 57%, rgb(240 240 240) 43%); */
  /* rgb(240 249 255) is bg-sky-50 to rgb(255 247 237) is bg-orange-50  */
}

.annotated-content {
  @apply w-full items-start rounded-lg border border-slate-300 py-4;
}

.subgrid-holder {
  @apply grid grid-cols-subgrid col-span-full;
}

.row-container {
  /* @apply rounded-lg; */
  /* @apply hover:bg-sky-100/50 hover:backdrop-saturate-200;
  --tw-backdrop-saturate: saturate(6); */

  /* z-index: 200; */
}

.row-container:hover {
  /* @apply bg-zinc-200/25; */
  background-color: rgba(212, 231, 250, 0.5);
  /* backdrop-filter: saturate(6); */
}

.grid-cell {
  @apply z-30;
  /* focus:bg-fuchsia-400 */
}

.code-cell {
  @apply bg-[#f7f7ee];
}

.annotated-content .column-labels, .annotated-content .column-labels * {
  @apply hidden h-0;
}

.columnheader {
  @apply p-1 text-sm font-medium text-zinc-500;
}

.annotated-content .line-numbers, 
.annotated-content .content {
  @apply flex flex-col;
}

.annotated-content .content {
  /* @apply bg-sky-600/50; */
}

.annotated-content .note {
  @apply relative pl-2; /*So I can make a partial border using absolute positioning */
   /* @apply border-t; */
}

/* Uncomment below to get a horizontal line above the note cell */
/* note the border colour is copied from Tailwind's default border colour */
.annotated-content .note::before {
    content: "";
    position: absolute;
    top: 0;
    left: 10%; 
    width: 80%; 
    height: 1px; 
    background-color: #e5e7eb;
    /* @apply rounded-full; */
}

.annotated-content pre {
  @apply py-0 pr-2 mb-0 border-0 rounded-none bg-transparent whitespace-pre-wrap;
}

.annotated-content p {
  /* @apply mb-1; */
}

.add-number {
  padding-left: 3.5rem;
  /* margin-left: 3.6rem; */

}

.add-number::before {
  content: attr(data-number) " ";
  @apply text-zinc-400 font-mono;
  margin-left: -3rem;
  width: 3rem;
  display: inline-block;
  text-align: left;
}



/*  */