@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "../vendor/makeup_friendly_mod_bg.css";
/* @import "../vendor/highlight.js/styles/a11y-light.css"; */
@import "../vendor/highlight.js/styles/stackoverflow-light.css";
@import "./annotated.css";

/* This file is for your main application CSS */

/* Set the base font size a little bigger */
body {
    font-size: 110%;  
    @apply bg-amber-50/20 dark:bg-slate-900 px-6 mx-auto text-slate-900 dark:text-slate-300;
    max-width: calc(42rem + 2.5rem + 300px); /* content + gap + sidebar */
}

#main-content {
    @apply py-2 md:py-6;
}
.can-content header {
    @apply mb-6;
}

section.can-content {
  /* background-image: 
      linear-gradient(#ccc 1px, transparent 1px),
      linear-gradient(90deg, #ccc 1px, transparent 1px),
      linear-gradient(#ddd 0.5px, transparent 0.5px),
      linear-gradient(90deg, #ddd 0.5px, transparent 0.5px);
    background-size: 80px 80px, 80px 80px, 8px 8px, 8px 8px; */
   @apply md:grid grid-cols-[minmax(10rem,_42rem)_240px] lg:grid-cols-[42rem_minmax(240px,_300px)] gap-x-10 auto-rows-min;
   /* grid-template-columns: minmax(10em, 60em) 200px; */
   /* grid-cols-[minmax(20rem,_1fr)_200px] */
}

.can-content > * {
    @apply col-start-1;
    /* grid-column: 1/2; a default */
}

.can-content img {
    @apply mx-auto block;
}

.can-content .notice-important {
    @apply border rounded-lg border-slate-600 dark:border-slate-400 bg-sky-50/40 dark:bg-slate-800/60 mt-4 mb-8 px-4 pt-4;
}

.can-content .callout {
    @apply text-2xl mt-4 mb-8 text-slate-600 dark:text-slate-300;
}

.can-content .card {
    @apply mt-16 bg-violet-100 dark:bg-violet-900/40;
}

.can-content .sidenote {
    @apply mx-6 pt-2 md:mx-0 border-t border-t-rose-500 dark:border-t-rose-400 text-sm;
    grid-column: 2/3;
    grid-row: auto / span 6;
}

.can-content .sidenote.rowspan-1 {
    grid-row: auto / span 1;
}

.can-content .sidenote.rowspan-2 {
    grid-row: auto / span 2;
}

.can-content .sidenote.rowspan-3 {
    grid-row: auto / span 3;
}

.can-content .sidenote.rowspan-4 {
    grid-row: auto / span 4;
}

.can-content .sidenote.rowspan-5 {
    grid-row: auto / span 5;
}

.can-content .sidenote.rowspan-6 {
    grid-row: auto / span 6;
}

.can-content .sidenote.rowspan-7 {
    grid-row: auto / span 7;
}

.hide-voluble .voluble {
    display: none;
}

h1 {
    @apply mb-6 text-2xl md:text-3xl font-semibold ;
}

h1, h1 code.inline {
    @apply text-zinc-800 dark:text-zinc-200;
}

h2 {
    @apply mb-6 mt-4 border-b  dark:border-zinc-700 text-xl md:text-[1.65rem] font-semibold ;
}


h2, h2 code.inline {
    @apply text-zinc-800  dark:border-zinc-700 dark:text-zinc-200;
}

h3 {
    @apply mt-2 mb-4 border-b  dark:border-zinc-700 text-lg md:text-[1.35rem] font-semibold ;
}


h3, h3 code.inline {
    @apply text-zinc-800 dark:text-zinc-200;
}
h4 {
  @apply mt-2 mb-4 border-b;

}

h4, h4 code.inline {
    @apply md:text-lg text-zinc-800 dark:text-zinc-200 font-semibold;
}

p {
    @apply mb-4;
}

blockquote {
    @apply border-l-4 border-l-rose-800 dark:border-l-rose-400 pl-4 mb-4 italic;
}

/* section.can-content code {
    font-family: "SFMono-Regular",Consolas,"Liberation Mono",Menlo,Courier,monospace;
    @apply text-sm;
} */

code.output {
    @apply -mt-8;
}

code.inline {
    @apply text-rose-800 dark:text-rose-300 text-[0.95em]/[1.2] inline-block mx-1 border-b border-dashed border-rose-800 bg-sky-50/40 dark:bg-slate-800/60;
}

a code.inline {
    @apply text-sky-700 dark:text-sky-300 border-sky-700 dark:border-sky-300 border-dashed;
}

pre {
    @apply px-4 py-2 bg-sky-50 dark:bg-slate-800 text-[0.85rem] border border-slate-200 dark:border-slate-600 rounded-lg mb-6 overflow-x-auto;
}

.card {
    @apply p-4 bg-blue-100 dark:bg-blue-900/40 text-blue-800 dark:text-blue-200 rounded-lg;
}

a {
    @apply text-sky-700 dark:text-sky-300 hover:underline decoration-dashed;
}

.can-content ul, ol {
    @apply list-disc list-outside ml-6 mb-6;
}

.can-content ul {
  @apply list-disc;
}

.can-content ol {
  @apply list-decimal;
}

.can-content ul ul {
    @apply mt-1 mb-0;
}

.can-content li:not(:last-child) {
    @apply mb-1;
}

.sidenote li {
    @apply mb-1;
}

/* ul li, ol li {
  @apply mb-0;
} */

ul li p, ol li p {
  /*display: inline-block;*/
  @apply mb-4;
}


dl p, dl pre {
    @apply mb-4 mr-12;
}

dt p, dt code.inline{
    @apply font-semibold text-slate-900 dark:text-slate-100 border-none;
}

dd {
    @apply ml-12 mb-8;
}

li::marker {
    font-size: 1em; /* Adjust the size of the marker if needed */
    vertical-align: top; /* Aligns the marker with the top of the first line */
  }

hr {
    /* @apply mb-6; */
}